/%li.nav-item= link_to 'Главная',  page_path('home'), class: 'nav-link'
%li.nav-item= link_to 'Игра',      page_path('game'), class: "nav-link #{current_page?( page_path('game')) ? 'active':''}"
%li.nav-item
  = link_to page_path('buy'), class: "nav-link #{current_page?( page_path('buy')) ? 'active':''}" do
    Где купить
%li.nav-item= link_to 'Загрузки',  page_path('downloads'), class: "nav-link #{current_page?( page_path('downloads')) ? 'active':''}"
%li.nav-item= link_to 'О сайте',   page_path('about'), class: "nav-link #{current_page?( page_path('about')) ? 'active':''}"
