!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Rails Bootstrap"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class=> body_class, :id => body_id}
    %header
      = render 'layouts/navigation'
      = yield :header
      = render 'layouts/messages'
    %main{:role => "main"}
      = yield
    %footer.justify-content-end.align-items-center.d-flex.flex-row
      .col-11.col-sm-10.col-md-6.my-auto.small
        &copy;  Ю. А. Баранов, А.А. Попов, 2014&ndash;2017
        %br
        %a( rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/")
          %img( alt="Лицензия Creative Commons"
          style="border-width:0"
          title = "Содержимое этого сайта доступно по лицензии Creative Commons «Attribution-NonCommercial» («Атрибуция — Некоммерческое использование») 4.0 Всемирная"
          src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png")

